.linha{
    display: flex;
}

.linha h3{
    background-color: rgb(142, 160, 235);
    padding: 20px;
    color: white;
    border-radius: 40px;
  
}

.btn{
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.linha h3:hover{
    background-color: rgb(178, 202, 244); 
    color:rgb(58, 143, 234);  
}

.title{
    color: rgb(142, 160, 235);
    margin-left: 16px;
    font-size: 13px;
    margin-left: 4px;
}

.calculadora{
    background: rgba(48, 66, 180, 0.24);
    background-size: 20px 20px;
    padding: 30px;
    padding-bottom: 60px;
    margin-right: 77%;
    border-radius: 20px;


}

input[type=text]{
    background-color: #edeff9; /* Green */
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: -10px;
    margin-top: -8px;
    border-radius: 10px;
}

